
@media (max-width:700px){
    img{
        height: 200px;
    }
    .texto{
        font-size: 35px;
    }
}

@media (max-width:550px){
    img{
        height: 150px;
    }
    .texto{
        font-size: 25px;
    }
    .texto2{
        font-size: 17px;
    }
}

@media (max-width:400px){
    img{
        height: 120px;
    }
}